header {
  position: fixed;
  backdrop-filter: blur(26px);
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  z-index: 100;
}
header .container .header__block {
  padding-top: 13px;
  width: 100%;
  margin-inline: auto;
}
header .container .header__block .logo .company-name {
  margin-top: 9px;
}
header .container .header__block .header__nav {
  height: 50px;
  -moz-column-gap: 74px;
       column-gap: 74px;
  list-style: none;
}
header .container .header__block .header__nav li {
  height: 100%;
}
header .container .header__block .header__nav li a {
  height: 100%;
  display: inline-flex;
  align-items: center;
}
header .container .header__block .header__nav li a.button {
  width: 247px;
  font-size: 1rem;
  height: 100%;
}

.hero-lines {
  position: absolute;
  width: 100vw;
  top: 0;
  z-index: -1;
}
.hero-lines svg {
  width: inherit;
}

.hero {
  margin-top: 203px;
}
.hero .hero__container {
  position: relative;
}
.hero .hero__container .hero__info {
  width: 50%;
  margin-top: 53px;
}
.hero .hero__container .hero__info .hero__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 80px;
  line-height: 95%;
  letter-spacing: 0.08em;
  color: #fff;
}
.hero .hero__container .hero__info .hero__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 110%;
  color: #d1d1d1;
  text-shadow: 0 4px 14px 0 #000;
  margin-top: 11px;
  letter-spacing: 0.03em;
}
.hero .hero__container .hero__info .hero__button {
  font-size: 24px;
  width: 385px;
  height: 80px;
  margin-top: 118px;
  display: inline-flex;
  align-items: center;
}
.hero .hero__container .hero__image {
  position: absolute;
  right: -89px;
  top: -62px;
}

.support {
  padding-bottom: 78px;
}
.support .support__title {
  margin-top: 473px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 60px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  margin-inline: auto;
}
.support .support__title:nth-of-type(2) {
  margin-top: 215px;
}
.support .support__subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.009em;
  text-align: center;
  color: #d1d1d1;
  margin-top: 41px;
  margin-inline: auto;
  width: 994px;
  line-height: 1.3;
}
.support .support__subtitle:nth-of-type(2) {
  margin-top: 37px;
}
.support .support__items {
  display: grid;
  list-style-type: none;
  padding-left: 0;
  gap: 15px;
  margin-top: 80px;
  grid-template-columns: 530px 668px;
}
.support .support__items .left, .support .support__items .right {
  gap: 15px;
}
.support .support__items .left .support__item {
  min-height: 352px;
}
.support .support__items .left .support__item:nth-child(3) {
  padding-top: 70px;
}
.support .support__items .right .support__item:nth-child(1) .item__info {
  padding-top: 10px;
  padding-bottom: 10px;
}
.support .support__items .right .support__item:nth-child(2) {
  padding-bottom: 78px;
}
.support .support__items .right .support__item:nth-child(3) {
  padding-top: 52px;
}
.support .support__items .right .support__item:nth-child(3) .item__info {
  padding-top: 10px;
}
.support .support__items .right .support__item:nth-child(3) .item__info .item__subtitle {
  width: 93%;
}
.support .support__items > .support__item {
  -moz-column-gap: 44px;
       column-gap: 44px;
  grid-column: 1/3;
}
.support .support__items > .support__item > .number {
  line-height: 0.8 !important;
}
.support .support__items > .support__item > .item__info .item__subtitle {
  width: 91% !important;
}
.support .support__items .support__item {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  padding: 50px;
}
.support .support__items .support__item.number_v {
  row-gap: 35px;
}
.support .support__items .support__item.number_h {
  -moz-column-gap: 26px;
       column-gap: 26px;
}
.support .support__items .support__item .item__info {
  row-gap: 15px;
}
.support .support__items .support__item .number {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 96px;
  line-height: 1;
  letter-spacing: 0.06em;
  color: #fff;
}
.support .support__items .support__item .item__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  color: #fff;
  letter-spacing: 1.08px;
  line-height: 1;
}
.support .support__items .support__item .item__subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.005em;
  color: #d1d1d1;
  width: 94%;
  line-height: 1;
}
.support .support__items .support__item img {
  width: 709px;
  height: 343px;
  margin-top: 42px;
}

.solutions {
  background: #f6f6f9;
  padding-top: 75px;
  padding-bottom: 131px;
}
.solutions .solutions__container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 112px;
  justify-content: space-between;
}
.solutions .solutions__container .solutions__info {
  width: 328px;
  height: 311px;
  align-items: center;
  margin-top: 190px;
}
.solutions .solutions__container .solutions__info .speed {
  width: 212px;
}
.solutions .solutions__container .solutions__info .info-name {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 3.1rem;
  text-align: center;
  color: #000;
  margin-top: -45px;
}
.solutions .solutions__container .solutions__info .info-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #000;
  margin-top: 13px;
}
.solutions .solutions__container .solutions__items {
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 30px;
  justify-content: flex-end;
  max-width: 804px;
}
.solutions .solutions__container .solutions__items .item {
  width: 392px;
  row-gap: 28px;
}
.solutions .solutions__container .solutions__items .item:nth-of-type(1) .item-info .item-title, .solutions .solutions__container .solutions__items .item:nth-of-type(1) .item-info .item-name {
  -webkit-text-stroke: 1px #000;
  color: white;
}
.solutions .solutions__container .solutions__items .item:nth-of-type(4) {
  row-gap: 29px;
}
.solutions .solutions__container .solutions__items .item:nth-of-type(4) .item-info {
  display: flex;
  flex-direction: column;
}
.solutions .solutions__container .solutions__items .item:nth-of-type(4) .item-info .item-title {
  letter-spacing: 0.079rem;
}
.solutions .solutions__container .solutions__items .item:nth-of-type(4) .item-info .item-price {
  margin-top: 44px;
}
.solutions .solutions__container .solutions__items .item .item-info {
  padding-left: 20px;
}
.solutions .solutions__container .solutions__items .item .item-info .item-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #000;
  width: 79%;
}
.solutions .solutions__container .solutions__items .item .item-info .item-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #7c7c7c;
  margin-top: 5px;
}
.solutions .solutions__container .solutions__items .item .item-info .item-name {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #000;
  margin-top: 11px;
}
.solutions .solutions__container .solutions__items .item .item-info .item-price {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.02rem;
  color: #7c7c7c;
  margin-top: 25px;
}

.order {
  margin-top: 168px;
}
.order .order__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.order .order__form {
  max-width: 683px;
  margin-inline: auto;
  margin-top: 91px;
  row-gap: 20px;
}
.order .order__form .name, .order .order__form .tel, .order .order__form .email {
  row-gap: 5px;
}
.order .order__form .name label, .order .order__form .tel label, .order .order__form .email label {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #fff;
}
.order .order__form .name input, .order .order__form .tel input, .order .order__form .email input {
  border-radius: 20px;
  width: 400px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #d1d1d1;
  padding-inline: 20px;
}
.order .order__form .equipment {
  border: none;
  row-gap: 15px;
}
.order .order__form .equipment legend {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #fff;
}
.order .order__form .equipment .equipment__items {
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 6px;
  margin-top: 15px;
  max-width: 625px;
}
.order .order__form .equipment .equipment__items .item {
  align-items: flex-start;
  -moz-column-gap: 13px;
       column-gap: 13px;
}
.order .order__form .equipment .equipment__items .item input {
  margin-top: 5px;
}
.order .order__form .equipment .equipment__items .item label {
  background: #eaeaea;
  border-radius: 20px;
  padding: 15px 24px;
}
.order .order__form .equipment .equipment__items .item label .item__info {
  justify-content: center;
}
.order .order__form .equipment .equipment__items .item label .item__info h3 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #000;
}
.order .order__form .equipment .equipment__items .item label .item__info p {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #767676;
}
.order .order__form p {
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 18px;
  line-height: 111%;
  color: #fff;
  margin-top: 10px;
  letter-spacing: 0.075em;
}
.order .order__form button {
  width: 247px;
  height: 50px;
  font-size: 16px;
  margin-top: 10px;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../fonts/HelveticaNeue-Bold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter.ttf") format("truetype");
  font-display: swap;
}
:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Helvetica Neue", sans-serif;
  --accent: #9D42B9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
}

html {
  font-size: 16px;
}

body {
  background: rgb(0, 0, 0);
  overflow-x: hidden;
}

.container {
  width: 1213px;
  margin: 0 auto;
}
.container.media__container {
  width: 1440px;
}

header, main, footer {
  width: 100vw;
}

.flex {
  display: flex;
}
.flex.row {
  flex-direction: row;
}
.flex.column {
  flex-direction: column;
}
.flex.center {
  align-items: center;
}
.flex.between {
  justify-content: space-between;
}

.logo a {
  align-items: center;
  height: inherit;
  cursor: pointer;
}
.logo a .company-name {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 36px;
  background: linear-gradient(180deg, #a145bd 0%, #370059 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 -3px 30px #370059;
  line-height: 76%;
}
.logo a .company-name .white {
  -webkit-text-fill-color: white;
}
.logo a .company-subname {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #d1d1d1;
}

.button {
  display: inline-flex;
  justify-content: center;
  background: linear-gradient(216deg, rgb(161, 69, 189) 0%, rgb(55, 0, 89) 100%);
  font-family: var(--font-family);
  font-weight: 600;
  /* letter-spacing: -0.01em; */
  color: #fff;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}
.button:hover {
  box-shadow: 0 4px 103px 0 #fff;
  color: white;
}

input {
  border: none;
}

a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: var(--accent);
}

.media {
  height: 810px;
}/*# sourceMappingURL=main.css.map */