header {
  .container{
    .header__block {
      padding-top: 13px;
      width: 100%;
      margin-inline: auto;
      .logo {
        .company-name {
          margin-top: 9px;
        }
      }
      .header__nav {
        height: 50px;
        column-gap: 74px;

        li {
          height: 100%;

          a {
            height: 100%;
            display: inline-flex;
            align-items: center;
          }
        }

        

        .button {
          width: 247px;
          font-size: 1rem;
          height: 100%;
          &:hover {
            color: white
          }
        }
      }
    }
  }
  
}