.order {
  margin-top: 168px;
  padding-bottom: 377px;
  .order__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 60px;
    line-height: 107%;
    letter-spacing: .02em;
    text-align: center;
    color: #fff;
  }
  .order__form {
    max-width: 683px;
    margin-inline: auto;
    margin-top: 91px;
    row-gap: 20px;

    .name, .tel, .email {
      row-gap: 5px;
      label {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: #fff;
      }
      input {
        border-radius: 20px;
        width: 400px;
        height: 50px;
        background: rgba(0, 0, 0, 0.3);
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: #d1d1d1;
        padding-inline: 20px;
      }
    }
    
    .equipment {
      border: none;
      row-gap: 15px;

      legend {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: #fff;
      }
      .equipment__items {
        flex-wrap: wrap;
        margin-top: 14px;
        justify-content: space-between;
        max-width: 656px;
        padding-inline: 16px;
        row-gap: 5px;

        .item {
          border-radius: 20px;
          background: #ffffff;
          width: 287px;
          padding: 16px 24px;
          position: relative;
          justify-content: space-between;

          input {
            position: absolute;
            left: -22px;
            top: 4px;
          }

          label {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 100;
            left: 0;
            top: 0;
          }

          .item__info {
            justify-content: center;
            row-gap: 5px;

            .item__title {
              font-family: var(--second-family);
              font-weight: 700;
              font-size: 20px;
              line-height: 100%;
              color: #000;
            }

            .item__name {
              font-family: var(--second-family);
              font-weight: 700;
              font-size: 14px;
              line-height: 100%;
              color: #767676;
              margin-top: 0;
              white-space: nowrap;
              letter-spacing: 0px;
            }
          }

          img {
            width: 81px;
          }
        }
      }
    }
    p {
      font-family: var(--font-family);
      font-weight: 200;
      font-size: 18px;
      line-height: 111%;
      color: #fff;
      margin-top: 10px;
      letter-spacing: 0.3px;
      width: 86%;
    }
    button {
      width: 247px;
      height: 50px;
      font-size: 16px;
      margin-top: 10px;
    }
  }
}