.solutions {
  background: #f6f6f9;
  padding-top: 75px;
  padding-bottom: 131px;

  .solutions__container {
    
    width: 1440px;
    margin: 0 auto;
    padding: 0 112px;
    justify-content: space-between;

    .solutions__info {
      width: 328px;
      height: 311px;
      align-items: center;
      margin-top: 190px;
      
      .speed {
        width: 212px;
      }

      .info-name {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #000;
        margin-top: -45px;
      }

      .info-description {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        text-align: center;
        color: #000;
        margin-top: 13px;
      }
    }

    .solutions__items {
      flex-wrap: wrap;
      column-gap: 20px;
      row-gap: 30px;
      justify-content: flex-end;
      max-width: 804px;

      .item {
        width: 392px;
        row-gap: 28px;

        &:nth-of-type(1) {
          .item-info .item-title, .item-info .item-name {
            -webkit-text-stroke: 1px #000;
            color: white;
          }
        }
        &:nth-of-type(4) {
          justify-content: space-between;

          .item-info {
            display: flex;
            flex-direction: column;
          }
        }

        .item-info {
          padding-left: 20px;

          .item-title {
            font-family: var(--second-family);
            font-weight: 700;
            font-size: 32px;
            line-height: 100%;
            letter-spacing: -0.01em;
            color: #000;
          }

          .item-description { 
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: -0.01em;
            color: #7c7c7c;
            margin-top: 5px;
          }

          .item-name {
            font-family: var(--second-family);
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: -0.01em;
            color: #000;
            margin-top: 11px;
          }

          .item-price {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: -0.01em;
            color: #7c7c7c;
            margin-top: 25px;
          }
        }
      }
    }
  }
}