.support {
  padding-bottom: 78px;
  
  .support__title {
    margin-top: 473px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 60px;
    letter-spacing: .03em;
    text-align: center;
    color: #fff;
    margin-inline: auto;

    &:nth-of-type(2) {
      margin-top: 215px;
    }
  }

  .support__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .009em;
    text-align: center;
    color: #d1d1d1;
    margin-top: 41px;
    margin-inline: auto;
    width: 994px;
    line-height: 1.3;

    &:nth-of-type(2) {
      margin-top: 37px;
    }
  }

  .support__items {
    display: grid;
    list-style-type: none;
    padding-left: 0;
    gap: 15px;
    margin-top: 80px;
    grid-template-columns: 530px 668px;

    .left, .right {
      gap: 15px;
    }

    .left .support__item {
      min-height: 352px;
    }

    .left {
      .support__item:nth-child(3) {
        padding-top: 70px;
      }
    }

    .right {
      .support__item:nth-child(1) .item__info {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .support__item:nth-child(2) {
        padding-bottom: 78px;
      }
      .support__item:nth-child(3) {
        padding-top: 52px;

        .item__info {
          padding-top: 10px;

          .item__subtitle {
            width: 93%;
          }
        }
      }
    }

    &>.support__item {
      column-gap: 44px;
      grid-column: 1/3;

      &>.number {
        line-height: 0.8 !important;
      }
      &>.item__info .item__subtitle {
        width: 91% !important;
      }
    }
    .support__item {
      background: rgba(0, 0, 0, 0.3);
      border-radius: 30px;
      padding: 50px;

      &.number_v {
        row-gap: 35px;
      }

      &.number_h {
        column-gap: 26px;
      }

      .item__info {
        row-gap: 15px;
      }

      .number {
        font-family: var(--font-family);
        font-weight: 900;
        font-size: 96px;
        line-height: 1;
        letter-spacing: .06em;
        color: #fff;
      }


      .item__title {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 36px;
        color: #fff;
        letter-spacing: 1.08px;
        line-height: 1;
      }

      .item__subtitle {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        letter-spacing: .005em;
        color: #d1d1d1;
        width: 94%;
        line-height: 1;
      }

      img {
        width: 709px;
        height: 343px;
        margin-top: 42px;
      }
    }
  }
}