@import "_header.scss";
@import "_hero.scss";
@import "_support.scss";
@import "_solutions.scss";
@import "_order.scss";

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../fonts/HelveticaNeue-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter.ttf") format("truetype");
  font-display: swap;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Helvetica Neue", sans-serif;
  --accent: #9D42B9;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; margin: 0;

}
body, html {
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
}

html {
  font-size: 16px;
}

body {
  background: rgba(0, 0, 0, 1);
  overflow-x: hidden;
}

.container {
  width: 1213px;
  margin: 0 auto;

}

header, main, footer {
  width: 100vw;
}
.flex {
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }
  &.center {
    align-items: center;
  }
  &.between {
    justify-content: space-between;
  }
}

.logo a {
  align-items: center;
  height: inherit;
  cursor: pointer;

  .company-name {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 36px;
    background: linear-gradient(180deg, #a145bd 0%, #370059 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 -3px 30px #370059;
    line-height: 76%;
    .white {
      -webkit-text-fill-color: white;
    }
  }

  .company-subname {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #d1d1d1;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  background: -o-linear-gradient(234deg, rgba(161, 69, 189, 1) 0%, rgba(55, 0, 89, 1) 100%);
  background: linear-gradient(216deg, rgba(161, 69, 189, 1) 0%, rgba(55, 0, 89, 1) 100%);
  font-family: var(--font-family);
  font-weight: 600;
  /* letter-spacing: -0.01em; */
  color: #fff;
  border: none;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow .3s ease-in-out;
  transition: -webkit-box-shadow .3s ease-in-out;
  -o-transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;

  &:hover {
    -webkit-box-shadow: 0 4px 103px 0 #fff;
            box-shadow: 0 4px 103px 0 #fff;
    color: white;
  }
}

input {
  border: none;
}

a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #fff;
  text-decoration: none;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;

  &:hover {
    color: var(--accent);
  }
}
